table, th, td {
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }
  
.container {
    margin: 20px;
}
.bold {
 font-weight: bold;
 font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    .container {
        margin: 50px;
        color: red; 
    }
}

@media (min-width : 456px) and (max-width: 768px)  {
    .container {
        margin: 10px;
        background-color: bisque;
        border-radius: 20px;
        padding: 10px;
        color: brown; 
    }
}